#outerframeContainer {
	word-wrap:normal;
}

.btn-default:hover, .btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary:focus, .btn-primary.focus,
.btn-default:active:hover, 
.btn-default.active:hover, 
.open > .dropdown-toggle.btn-default:hover, 
.btn-default:active:focus, .btn-default.active:focus, 
.open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, 
.btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus,
.btn-default:active, .btn-default.active,
 .open > .dropdown-toggle.btn-default,
.btn-default:focus, .btn-default.focus  {
	color: #464646!important;
    background-color: #ffffff;
    border-color: #929292;
}

table > thead > tr > th, .table > thead > tr > th, table > tbody > tr > th, .table > tbody > tr > th, table > tfoot > tr > th, .table > tfoot > tr > th, table > thead > tr > td, .table > thead > tr > td, table > tbody > tr > td, .table > tbody > tr > td, table > tfoot > tr > td, .table > tfoot > tr > td {
    font-weight: 500;
}

.group-description.well.well-sm {
	margin-left:-15px;
	margin-right:-15px;
	padding: 15px;
}

#langchanger.form-control {
    height: 44px;
}